<!DOCTYPE html>

<html>
<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel="icon" href="~/favicon.ico">
    <title>IT Inventarios</title>
    <link rel=stylesheet href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel=stylesheet href="https://fonts.googleapis.com/css?family=Material+Icons">
    <link href="~/css/chunk-vendors.125be217.css" rel="stylesheet">
    <link href="~/css/app.7a307743.css" rel="stylesheet">
</head>
<body>
    @RenderBody()
    <noscript>
        <strong>Activa JavaScript en tu navegador para continuar.
        </strong>
    </noscript>
    <div id=app></div>
    <script src="~/js/chunk-vendors.2749d457.js">
    </script>
    <script src="~/js/app.0c89b18e.js">
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
